.card{
    width: 200px;
    margin-bottom: 24px;
    position: relative;
}
.card .encabezado{
    background-color: #f0f0f0f0;
    border-radius: 10px 10px 0px 0px;
}

.card .encabezado img{
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom:-50px;
}
.card .letras{
    background: #fff;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;
    font-family: 'Indie Family', cursive;
}
.card .letras h4{
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}
.card .letras h4{
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 0px 15px;
    font-weight: 300;
    margin: 0;
}