.formulario{
    display: flex;
    justify-content: center;
    margin: 60px 0px;
}
.formulario form{
    max-width: 80%;
    background: #F6F6F6F6;
    box-shadow: 7px 7px 15px 0px rgba(0,0,0, 15%);
    border-radius: 20px;
    padding: 8px 100px;
}
.formulario h2{
    font-size: 20px;
    font-weight: 300;
    background-color: #21212121;
}